
.calendar {
    position: relative;
    width: 90%;
    margin: 2% auto;
}

td {
    height: 4.5rem;
}

.head-cal {
    background-color: #F7F7F7;
    font-size: 1.7rem;
}

.week-days {
    font-size: 1.1rem;
}

.nav-cal-parent {
    width: 97%;
    margin: 0 auto;
}

.nav-cal {
    height: 2.3rem;
    border: 0.5px solid #5E48F6;
    color: #5E48F6;
    background-color: white;
}


.form-inline {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

#dropdownMenu1, #dropdownMenu2 {
    font-size: 1rem;
    width: 13rem;
    margin-right: 0.3rem;
}

@media screen and (max-width: 1175px){
    #previousNext {
        font-size: 1.5rem;
        margin-left: 5.5em;
    }
    .week-days{
        font-size: 0.9rem;
    }
    #previous {
        width: 1.5rem;
    }
    #next {
        width: 1.5rem;
    }
    .edit {
        width: 3rem;
        font-size: 0.8rem;
    }
    .delete {
        margin-top: 2px;
        width: 4.2rem;
        font-size: 0.8rem;
    }
    
}

@media screen and (max-width: 500px){
    #previousNext {
        font-size: 0.8rem;
    }
    #currentMonthYear{
        font-size: 0.7em;
    }
    #previous {
        width: 1.5rem;
    }
    #next {
        width: 1.5rem;
    }
    .edit {
        width: 3rem;
        font-size: 0.8rem;
    }
    .delete {
        margin-top: 2px;
        width: 4.2rem;
        font-size: 0.8rem;
    }
    
    
}

td:hover {
    cursor: pointer;
    background-color: lightgrey;
}

#previousNext {
    border-left: hidden;
    cursor: pointer;
}

#previous {
    margin-left: 0.8em;
    margin-right: 1em;
}

#add-event {
    display: none;
    width: 100%;
}

#events-list-box {
    margin-top: 1.5em;
}

.dot {
    display: flex;
    height: 4px;
    width: 4px;
    margin: 0 2px;
    border-radius: 4px;
    background-color: red;
}

#events-list-box {
    margin-left: 5px;
}

#listBox {
    margin-top: 1.2rem;
}

.edit, .delete {
    margin-left: 0.7rem;
}

.red-border {
    border: 1px red solid;
}

#time-helper {
    font-size: 0.8em;
    color: darkgray;

}

#recur-form {
    margin-bottom: 1rem;
}

#recur-types {
    width: 90%;
    display: none;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

tr {
    display: table-row;
}
